@import 'shared/all.scss';

.news {
  width: 300px;
  cursor: pointer;
  
  .preview {
    width: 300px;
    border-radius: 24px;
  }
  .category {
    text-transform: capitalize;
    color: $darkText;
    font-size: 20px;
    font-weight: bold;
  }
  .date {
    color: #777777;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-left: 5px;
  }
  .text {
    line-height: 32px;
    font-size: calc(2vmin + 10px);
  }
}